################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NodeJs/node_modules
/NodeJsSqlServer/node_modules
/NodeMongodb/node_modules
