<!DOCTYPE html>
<html>
<head>
<title>Profile</title>
</head>
<body>

<h1>This is a Profile Heading</h1>
<p>This is a Profile paragraph.</p>

<h3>Welecome , <%=users.name%></h3>
<h3><%=users.email%></h3>
<h3><%=users.contactno%></h3>
<h3><%= users.city %></h3>

</body>
</html>